li.breadcrumb-item {
    padding: 10px 5px;
    list-style: none;
    background-color: transparent;
    display:flex;
    font-size: 18px;
      
  }

  li.breadcrumb-item a {
    color: #0275d8;
    text-decoration: none;
  }

  li.breadcrumb-item a:hover {
    color: #0275d8;
    text-decoration: none;
  }