
<footer class="bg-dark text-center text-white">
    
    <div class="container p-4">

  
      
      <section class="">
        <form action="">
          
          <div class="row d-flex justify-content-center">
            
            <div class="col-auto">
              <p class="pt-2">
                <strong>Ta del av våra bästa lästips, erbjudanden och kampanjer</strong>
              </p>
            </div>
            
  
            
            <div class="col-md-5 col-12">
              
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" placeholder="exempel@email.com"/>
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            
  
            
            <div class="col-auto">
              
              <button type="submit" class="btn btn-outline-light mb-4">
                Skicka
              </button>
            </div>
            
          </div>
         
        </form>
      </section>
      
  
      
      <section class="mb-4">
        <p>
            Allt du vill läsa hittar du hos Bokportalen. Skön- och facklitteratur från hela världen, barnböcker för alla åldrar och intressen, studentlitteratur, ljudböcker och e-böcker. 
            Hos oss finns också ett stort utbud av garn, leksaker, pussel och spel. I Bokportalen ingår även Campusbokhandeln och Odla. 
            *Fri frakt gäller standardfrakt för privatpersoner och kan väljas i kassan vid köp över 299 kr.
        </p>
      </section>

      <section class="">
        
        <div class="row">
          
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">BOKPORTALEN AB</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Om oss</a>
              </li>
              <li>
                <a href="#!" class="text-white">Välj land/språk</a>
              </li>
              <li>
                <a href="#!" class="text-white">Press</a>
              </li>
              <li>
                <a href="#!" class="text-white">Bilbiotek & Offentliga verksamheter</a>
              </li>
            </ul>
          </div>
       
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Mitt Konto</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Beställningar</a>
              </li>
              <li>
                <a href="#!" class="text-white">Önskelistor</a>
              </li>
              <li>
                <a href="#!" class="text-white">Bevakningar</a>
              </li>
              <li>
                <a href="#!" class="text-white">Kunduppgifter</a>
              </li>
            </ul>
          </div>
      
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Kundservice</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Kontakt</a>
              </li>
              <li>
                <a href="#!" class="text-white">Köpvilkor</a>
              </li>
              <li>
                <a href="#!" class="text-white">Personuppgifter</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cookie Policy</a>
              </li>
            </ul>
          </div>
    
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sociala medier</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <div class="fa fa-facebook-square" style="font-size:20px"> 
                    <a href="#!" class="text-white">Facebook</a>
                </div>
              </li>
              <li>
                <div class="fa fa-instagram" style="font-size:20px">
                    <a href="#!" class="text-white">Instagram</a>
                </div>
              </li>
              <li>
                <div class="fa fa-twitter" style="font-size:20px;color:white">
                    <a href="#!" class="text-white">Twitter</a>
                </div>
              </li>
            </ul>
          </div>
         
        </div>
        
      </section>
      
    </div>
    
  
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="">Bokportalen AB</a>
    </div>
    
  </footer>
 
